$main-color: #08aff6;

@mixin transition-all {
  transition: all .3s ease-in-out;
}
@mixin pseudo($content: '', $display: block, $pos: absolute){
  content: $content;
  display: $display;
  position: $pos;
}
@mixin cover-background($img-uri, $background-top: "center", $background-left: "center", $background-attachment: "fixed") {
  background: url($img-uri) no-repeat unquote($background-top) unquote($background-left) unquote($background-attachment);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}
%d-flex {
  display: flex;
  flex-wrap: wrap;
}
%fd-column {
  flex-direction: column;
}
%jc-between {
  justify-content: space-between;
}
%ai-center {
  align-items: center;
}
%color-white {
  color: #fff;
}
%bold-text {
  font-weight: 700;
}
%text-uppercase {
  text-transform: uppercase;
}
%avatar {
  height: 100px;
  width: 100px;
  background: /* url(../img/...) */ #949494 no-repeat;
  background-position: center center;
  margin: 0 auto;
  background-size: cover;
  border-radius: 50%;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}
a {
  text-decoration: none;
  color: $main-color;
  &:hover {
    color: #1f6786;
  }
}
a.btn {
  display: block;
}
img {
  max-width: 100%;
}
input.error {
 border: 1px solid #ff0000!important;
}
label.error {
  font-size: 13px;
  margin-top: 5px;
  color: #ff0000;
}
.text-center {
  text-align: center;
}
.container {
  width: 1230px;
  max-width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.header {
  @include cover-background("../img/bg_header.jpg", center, center, scroll);
  padding-bottom: 60px;
  position: relative;
  z-index: 6;
  @extend %color-white;
  a {
    @extend %color-white;
    &:hover {
      color: $main-color;
      @include transition-all;
    }
  }
}
.mask:before {
  @include pseudo;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.5));
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.main-menu {
  @extend %d-flex;
  @extend %ai-center;
  height: 60px;
  top:-60px;
  transition: top 1s;
  z-index: 10;
}
.top-menu {
  @extend %d-flex;
  @extend %jc-between;
  @extend %ai-center;  
  &__logo {
    @extend %bold-text;
    letter-spacing: 3px;
    font-size: 24px;
  }
  &__links {
    margin-right: 30px;
    ul {
      @extend %d-flex;
      list-style: none;
    }
    li {
      padding-left: 30px;
      margin: 0;
      .active {
        color: #08aff6;
      }
    }
    a {
      @extend %text-uppercase;
      font-size: 15px;
      letter-spacing: 0.5px;
    }
  }
}
.fixed_decstop {
  width:100%;
  position: fixed;
  height: 60px;
  top: 0;
  background: rgb(41, 41, 41);
}
.description {
  padding-top: 90px;
  max-width: 50%;
  &__heading {
    font-size: 57px;
    line-height: 1.15;
    @extend %bold-text;
  }
  &__text {
    font-size: 22px;
    margin-bottom: 60px;
  }
}
button, 
button:active, 
button:focus {
  outline: none;
}
.btn {
  font-size: 16px;
  text-align: center;
  @extend %color-white;
  border: none;
  border-radius: 10px;
  background-color: #08aff6;
  font-weight: 600;
  padding: 16px 45px;
  max-width: 230px;
  @extend %text-uppercase;
  &:hover {
    cursor: pointer;
    background-color: #292929;
    @include transition-all;
  }
}
a.btn:hover {
  color: #fff;
}
.services-desc {
  padding: 70px 0 40px;
  margin: 0 auto;
  max-width: 59%;
  h2 {
    font-size: 37px;
  }
  p {
    color: #424242;
  }
  span {
    @extend %bold-text;
  }
}
.services-items {
  @extend %d-flex;
  @extend %jc-between;
  flex-wrap: wrap;
}
.services__item {
  background-color: #f7f7f7;
  padding: 25px;
  border-radius: 10px;
  flex-basis: 48%;
  margin-bottom: 44px;
  &_cap-1 {
    background: url(../img/clock.svg);
  }
  &_cap-2 {
    background: url(../img/globe.svg);
  }
  &_cap-3 {
    background: url(../img/conversation.svg);
  }
  &_cap-4 {
    background: url(../img/planning.svg);
  }
  &_h {
    @extend %bold-text;
    padding-left: 75px;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
  &_p {
    font-size: 16px;
    padding: 20px 0;
  }
}
.services__lead {
  padding: 50px 0 110px 0;
  .btn {
    margin: 0 auto;
  }
  &_text {
    max-width: 59%;
    margin: 20px auto 40px;
    font-size: 25px;
    @extend %bold-text;
  }
  &_heading {
    font-size: 32px;
    background-color: #fecd27;
    max-width: 68%;
    margin: auto;
    font-size: 32px;
    padding: 11px 10px;
    line-height: 1.3em;
  }
}
.whom {
  @include cover-background("../img/bg_whom.webp", center, center, scroll);
  min-height: 650px;
  position: relative;
  z-index: 5;
  @extend %color-white;
  &_heading {
    font-size: 37px;
    padding: 80px 0 25px 0;
  }
  &_items {
    @extend %d-flex;
    @extend %jc-between;
    &__item {
      flex-basis: 30%;
      &_h {
        font-size: 20px;
        @extend %bold-text;
        background: url(../img/check.svg) no-repeat left center;
        background-size: contain;
        padding-left: 50px;
      }
      &_text {
        font-size: 17px;
        font-weight: 300;
        padding-left: 50px;
        margin-top: 15px;
      }
    }
  } 
}
.quote {
  @extend %d-flex;
  padding: 120px 0 65px 0;
  position: relative;
  &::before {
    @include pseudo;
    background: url(../img/cav.svg) no-repeat center center;
    background-size: contain;
    width: 70px;
    height: 54px;
    right: 0;
    top: 85px;
  }
}
.quote_ava {
  flex-basis: 20%;
  &__pic {
    @extend %avatar;
  }
  &__text {
    font-size: 15px;
    line-height: 1.2;
    margin-top: 15px;
    span {
      @extend %bold-text;
    }
  }
}
.quote_text {
  font-size: 26px;
  line-height: 1.45;
  flex-basis: 70%;
}
.benefit {
  min-height: 700px;
  background: #f2f2f2;
}
.benefit_heading {
  font-size: 42px;
  padding: 80px 0;
}
.benefit_items {
  @extend %d-flex;
  @extend %jc-between;
  flex-wrap: wrap;
  &__item {
    flex-basis: 32%;
    background: #fff;
    padding: 30px 30px 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    &_1 {
      background: url(../img/analysis_1.svg);
    }
    &_2 {
      background: url(../img/planner_1.svg);
    }
    &_3 {
      background: url(../img/idea_1.svg);
    }
    &_pic {
      height: 65px;
      width: 65px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 30px;
    }    
    &_text {
      color: #141414;
      font-weight: 300;
      span {
        @extend %bold-text;
      }
    }
  }
}
.benefit_btn {
  margin-top: 80px;
  padding-bottom: 40px;
  a.btn {
    border-radius: 4px;
    margin: 0 auto;
  }
}
.reviews {
  .reviews_container {
    margin-top: 120px;
  }
  @extend %color-white;
  @extend %d-flex;
  @extend %fd-column;
  @extend %ai-center;
  background: url(../img/bg_reviews.jpg) no-repeat center center;
  background-size: cover;
  background-attachment:fixed;
  position: relative;
  min-height: 600px;
  z-index: 5;
  &_header {
    font-size: 42px;
    margin-bottom: 40px;
  }
  &_slider {
    max-width: 63%;
    margin: 0 auto;
  }
}
.my-dots {
  position: absolute;
  bottom: -150px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}
.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}
.my-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: url(../img/dote.png);
  opacity: .4;  
}
.my-dots li.slick-active button:before {
  opacity: 1;
}
.slick-prev:before, .slick-next:before {
  font-size: 38px;
}
.slick-next {
  right: -100px;
}
.slick-prev {
  left: -100px;
}
.slick-prev, .slick-next {
  width: 45px;
  height: 45px;
}
.cases_heading {
  text-align: center;
  padding-top: 70px;
  &__h {
    font-size: 37px;    
    margin-bottom: 60px;
    display: inline-block;
    position: relative;
    &::before {
      @include pseudo;
      width: 166px;
      height: 31px;
      background-color: #fecd27;
      left: -32px;
      bottom: 0;
      z-index: -1;
    }
  }  
}
.cases_items {
  @extend %d-flex;
  flex-wrap: wrap;
  @extend %jc-between;
  padding-bottom: 70px;
}
.cases__item {
  flex-basis: 44%;
  &__pic {
    @extend %avatar;
    margin: 0;
    float: left;
  }
  &__content {
    padding-left: 125px;
    .colored {
      color: rgb(8, 175, 246);
    }
    &_text {
      font-size: 17px;
      margin-bottom: 35px;
    }
    &_marked {
      @extend %bold-text;
      margin-bottom: 15px;
    }
    span {
      @extend %bold-text;
    }
    &_bottom-text {
      font-size: 15px;
      line-height: 1.2;
      font-weight: 100;
      text-decoration: underline;
    }
  }
}
.getplan {
  @extend %d-flex;
  @extend %ai-center;
  padding: 80px 0;
  background-image: -webkit-linear-gradient(top, rgba(8,175,246,1), rgba(8,175,246,0.80));
  background: -ms-linear-gradient(top, rgba(8,175,246,1), rgba(8,175,246,0.80)); /* IE10+ */
  &_heading {
    @extend %color-white;
    font-size: 48px;
    line-height: 1.23;
    font-weight: 600;
    max-width: 80%;
    margin: 0 auto 70px;
  }
  &_btn {
    text-align: center;
    position: relative;
    .btn {
      border-radius: 4px;
      background: #fff;
      margin: 0 auto;
      color: $main-color;
      &:hover {
        background: #292929;
        @include transition-all;
      }
    }
  }
  a.btn:hover {
    color: #08aff6;
  }
}
.arrow {
  width: 70px;
  height: 80px;
  position: absolute;
  left: 33%;
  top: -30px;
}
.about-wrap {
  @extend %d-flex;
  @extend %jc-between;
  padding-top: 80px;
  &__desc {
    flex-basis: 56%;
    &_heading {
      font-size: 37px;
      margin-bottom: 25px;
    }
    &_title {
      font-size: 27px;
      margin-top: 50px;
      margin-bottom: 15px;
    }
    &_partners {
      @extend %d-flex;
      @extend %ai-center;
      .img-wrap {
        flex-basis: 30%;
        @extend %ai-center;
        margin-right: 25px;
        margin-bottom: 20px;
      }
    }
  }
  &__picbox {
    flex-basis: 38%;
    font-size: 16px;
    span{
      @extend %bold-text;
    }
    &_img {
      height: 330px;
      max-width: 100%;
      /* min-width: 280px; */
      background: url(../img/Xw8gXBmr_tk.webp) no-repeat center center;
      background-size: cover;
    }
  }
}
.about_quote {
  .quote::before {
    top: 70px;
    right: 50px;
  }
  .quote_ava {
    flex-basis: 11%;
  }
  .quote_text {
    margin-left: 30px;
    flex-basis: 75%;
  }
}
.lead {
  background-color: #f2f2f2;
  padding-top: 90px;
  padding-bottom: 80px;
}
.lead_text {
  margin: 0 auto;
  max-width: 630px;
  padding-bottom: 75px;
  &__heading {
    font-size: 42px;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 16px;
  }
}
.input_active {
  transform: translateY(20px) scale(.7)!important;
}
.lead_form {
  max-width: 64%;
  margin: 0 auto;
  .input-group {
    margin-bottom: 35px;
    &__label {
      color: #141414;
      font-size: 20px;
      font-weight: 300;
    }
    .input-group_placeholder {
      transform: translateY(52px);
      opacity: .5;
      font-size: 16px;
      transition: transform 0.2s linear;
      transform-origin: left;
      white-space: nowrap;
      margin-left: 7px;
      cursor: text;
    }
    &__input {
      color: #000000;
      border: 2px solid #08aff6;
      padding: 26px 20px 10px 20px;
      margin: 0;
      outline: none;
      padding-left: 0;
      padding-right: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      background-color: transparent!important;
      height: 60px;
      padding: 0 20px;
      font-size: 16px;
      line-height: 1.33;
      outline: none;
      border-bottom: 2px solid #08aff6;
      width: 100%;
    }
    .input-group__agree {
      &_checkbox {
        height: 20px;
        width: 20px;
        border: 2px solid #08aff6;
        float: left;
        margin-right: 11px;
      }
      &_text {
        font-size: 15px;
        line-height: 1.55;
        color: #141414;
        a {
          color: #ff8562;
          &:hover {
            color: #b90d0d;
            @include transition-all;
          }
        }
      }
    }
  }
  button {
    font-weight: 300;
    border-radius: 4px;
    padding: 21px 60px;
  }
}
.contacts {
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts_heading {
  margin-bottom: 70px;
  font-size: 42px;
  line-height: 1.23;
}
.contacts_picname {
  font-size: 22px;
  &__pic {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px;
    background: url(../img/Xw8gXBmr_tk.webp) no-repeat center;
    background-size: cover;
    border-radius: 50%;
  }
  p {
    @extend %bold-text;
  }
}
.contacts_cont {
  margin-top: 45px;
  span {
    @extend %bold-text;
  }
  &__links {
    @extend %d-flex;
    @extend %jc-between;
    max-width: 115px;
    margin: 0 auto;
    a {
      display: block;
      width: 30px;
      height: 30px;
      &:hover {
        filter: drop-shadow(0 1px 1px black);
      }
    }
    img {
      background-size: contain;
    }
    margin-top: 45px;
    .icon {
      width: 30px;
      height: 30px;
    }
  }
}
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #111111;
}
.company {
  @extend %color-white;
  &_name {   
    @extend %bold-text; 
    color: #ffffff;
    font-size: 30px;
  }
  &_copyright {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    opacity: .7;
    padding-top: 22px;
    padding-bottom: 6px;
    a {
      color: #ff8562;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.paginator{
  display: flex;
  .left {
    background: url(../img/arrow-prev.png) no-repeat;
    left: 40px;
  }
  .right {
    background: url(../img/arrow-next.png) no-repeat;
    right: 40px;
  }
  .left, .right {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-size: cover;
    position: absolute;
    top: 50%;
    opacity: .95;
  }  
}
.wrap {
  padding: 20px 50px 50px;
  .btn {
    max-width: inherit;
    width: 100%;
    text-transform: inherit;
  }
}
.modal-form {
  &_pic {
    max-width: 560px;
    img {
      width: 100%;
    }
  }
  &_title {
    font-size: 36px;
    line-height: 1.23;
    text-align: center;
    font-weight: 600;
    margin-bottom: 12px;
    padding-top: 20px;
  }
  &_text {
    font-size: 16px;
    color: #141414;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px;
  }
}
.modal_input {
  width: 100%;
  color: #000;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  height: 60px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  outline: none;
  margin-bottom: 25px;
}
.fancybox-content {
  padding: 0;
}

/*********** Мобильное меню**************/
.mobile-menu {
  display: none;
  padding: 40px 50px;
  &__logo {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  &__links {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    li {
      list-style: none;
      margin-bottom: 15px;
    }
  }
}
.mobile-menu_active {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #292929;
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  animation: fadeIn .5s;
}
.menu__icon_scrolled {
  height: 50px;
  width: 50px;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translateY(10px)!important;
}
.menu__icon_wrap {
  transform: translateY(-45px);
  float: right;
  margin-right: 20px;
}
.menu__icon {
  display: none;
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}
.menu__icon_contain, 
.menu__icon_contain:before, 
.menu__icon_contain:after {
  position: absolute;
  height: 3px;
  width: 32px;
  background-color: #fff;
}
.menu__icon_contain {
  top: 50%; 
  opacity: 1;
  left: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.menu__icon_contain:before {
  content: '';  
  top: 9px;
  left: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.menu__icon_contain:after {
  content: '';  
  top: -9px;
  left: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
/* Анимация FadeIn*/
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/*Трансформирование в кнопку "ЗАКРЫТЬ"*/
.menu__icon_active .menu__icon_contain {
  background-color: transparent;
}
.menu__icon_active .menu__icon_contain:before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.menu__icon_active .menu__icon_contain:after {
  top: 0;
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg);
}
/***********МЕДИА-ЗАПРОСЫ**************/

@media (min-width: 1199px) {
  .header {
    height: 100vh;
    min-height: 600px;
  }
  .whom {
    min-height: 600px;
  }
  .whom_items__item {
    justify-content: center;
  }
}
@media (max-width: 1199px) {  
  .description {
    max-width: 65%;
  }
}
@media (max-width: 991px) {
  .description {
    max-width: 80%;
  }
  .whom_heading {
    padding: 80px 0;
  }
  .whom_items__item {
    flex-basis: auto;
    margin: 0 auto 30px;
    max-width: 70%;
  }
  .benefit_btn {
    margin-top: 60px;
    padding-bottom: 65px;
  }
  .quote {
    padding-top: 90px;
  }
  .quote::before {
    top: 35px;
  }
  .quote_text  {
    font-size: 20px;
    padding: 0 25px;
  }
  .cases__item {
    flex-basis: auto;
    margin-bottom: 50px;
  }
  .arrow {
    left: 20%;
    top: -30px;
  }
  .about-wrap__desc_partners .img-wrap {
    flex-basis: 43%;
  }
}
@media (max-width: 767px) {
  .hide_mobile {
    display: none;
  }
  .fixed_mobile {
    width:50px;
    height: 50px;
    position: fixed;
    right: 2px;
    animation: fadeIn .5s;
  }
  .menu__icon {
    display: block;
  }
  .description__heading {
    font-size: 35px;
  }
  .description__text {
    font-size: 18px;
  }
  .top-menu {
    height: 80px;
    &__links {
      display: none;
    }
  }
  .quote::before {
    width: 45px;
    height: 37px;
  }
  .about-wrap__desc {
    flex-basis: 65%;
  }
  .about-wrap__picbox {
    flex-basis: 30%;
  }
  .benefit_items__item {
    flex-basis: auto;
    margin-bottom: 27px;
    padding: 15px 15px 30px;
  }
  .benefit_items__item_pic {
    margin-bottom: 40px;
  }
  .lead {
    padding: 60px 0;
  }
  .contacts {
    padding: 60px 0;
  }
}
@media (min-width: 576px) and (max-width: 619px) {
  .services__item_h {
    background-size: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .about-wrap__picbox_img {
    height: 160px;
    background-size: contain;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
  .header {
    height: auto;
  }
  .description {
    max-width: 100%;
  }
  .description__heading {
    font-size: 38px;
  }
  .description__text {
    font-size: 17px;
  }
  .services-desc {
    max-width: 90%;
  }
  .services-desc h2 {
    font-size: 25px;
  }
  .services__item {
    flex-basis: auto;
    margin-bottom: 20px;
  }
  .services__item_h {
    font-size: 18px;
  }
  .services__lead {
    padding: 40px 0 60px;
  }
  .services__lead_heading {
    font-size: 24px;
    max-width: 100%;
  }
  .services__lead_text {
    max-width: 100%;
    font-size: 18px;
  }
  .whom {
    height: auto;
  }
  .whom_heading {
    font-size: 25px;
    padding: 55px 0 25px 0;
  }
  .whom_items__item {
    max-width: 100%;
  }
  .whom_items__item_h {
    font-size: 18px;
  }
  .whom_items__item_text {
    font-size: 16px;
  }
  .quote {
    flex-direction: column-reverse;
  }
  .quote::before {
    left: 0;
    top: 25px;
  }
  .quote_text {
    font-size: 17px;
    flex-basis: auto;
  }
  .quote_ava {
    flex-basis: auto;
    display: flex;
    align-items: center;
    margin: 35px 5px 0 5px;
  }
  .quote_ava__text {
    text-align: left;
  }
  .quote_ava__pic {
    margin: 0 15px 0 0;
  }
  .quote_ava__pic, .cases__item__pic {
    height: 80px;
    width: 80px;
  }
  .benefit {
    height: auto;
  }
  .benefit_heading {
    font-size: 30px;
  }
  .benefit_items__item_text {
    font-size: 16px;
  }
  .benefit_btn {
    margin-top: 30px;
  }
  .slick-next {
    right: -55px;
  }
  .slick-prev {
    left: -55px;
  }
  .my-dots {
    bottom: -50px;
  }
  .cases_heading {
    padding-top: 50px;
  }
  .cases_items {
    padding-bottom: 40px;
  }
  .cases__item {
    flex-basis: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  .cases__item__pic {
    float: none;
    margin-top: 20px;
  }
  .cases__item__content {
    padding: 0;
  }
  .reviews_header {
    font-size: 30px;
  }
  .paginator{
    .left {
      left: 15px;
    }
    .right {
      right: 15px;
    }  
  }
  .getplan {
    padding: 25px 0 60px;
  }
  .getplan_heading {
    font-size: 30px;
    margin: 35px auto;
    max-width: 100%;
  }
  .getplan_btn .btn {
    padding: 20px 50px;
  }
  .arrow {
    display: none;
  }
  .about-wrap__desc_heading {
    font-size: 25px;
  }
  .about-wrap__desc_partners {
    flex-direction: column;
    margin-bottom: 35px;
  }
  .about_quote .quote {
    padding-top: 50px;
  }
  .about-wrap__desc {
    flex-basis: auto;
  }
  .about-wrap__desc_partners {
    align-items: flex-start;
  }
  .about-wrap__desc_partners .img-wrap {
    margin-right: 0;
  }
  .about-wrap__picbox {
    flex-basis: 100%;
    order: -1;
    margin-bottom: 20px;
  }
  .about-wrap__picbox_img {
    height: 450px;
    width: 100%;
    background-size: cover;
  }
  .about .quote_text {
    margin-left: 0;
  }
  .about .quote:before {
    top: 0px;
  }
  .img-wrap {
    margin-bottom: 20px;
  }
  .img-wrap img {
    width: 60%;
  }
  .lead_form {
    max-width: 95%;
  }
  .lead_text__heading {
    font-size: 30px;
  }
  .lead_form .input-group__label {
    font-size: 16px;
  }
  .lead_form .input-group .input-group__agree_text {
    font-size: 12px;
  }
  .lead_form .input-group__input {
    height: 40px;
  }
  .lead_form .input-group .input-group_placeholder {
    transform: translateY(37px);
  }
  .input_active {
    transform: translateY(10px) scale(.7)!important;
  }
  .contacts {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contacts_heading {
    font-size: 30px;
  }
  .contacts_picname {
    font-size: 18px;
  }
  .contacts_cont {
    font-size: 14px;
  }
}